body
{
    font-family: Segoe UI,Helvetica Neue,Helvetica,
    Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
    color: #4a4a4a;
    line-height: 1;
    font-feature-settings: "kern";
    background-color: #dddbd1;
    outline: none;
    padding: 0;
    margin: 0;
    border: 0;
}
#app
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.app-wrapper
{
    overflow-y: auto;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.landing-wrapper
{
    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
@media screen and (max-width: 1095px){
.landing-wrapper, .landing-wrapper {
    padding-right: 36px;
    padding-left: 36px;}
}
html[dir] .landing-wrapper {
    padding-bottom: 92px;
    cursor: default;
}
@media screen and (max-width: 960px){
.landing-wrapper {
    position: relative;}
}
@media screen and (max-width: 1095px){
.landing-wrapper {
    box-sizing: border-box;}
}
.landing-wrapper::before
{
    left: 0;
    background-color: #00bfa5;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 230px;
    content: "";
}
.landingheader
{
    display: flex;
    flex: none;
    justify-content: flex-start;
    align-items: center;
    width:1050px;
    min-height: 39px;
}
@media(min-width:760px)and (min-width:780px) and (max-width:1095px){
    .landingheader{
        margin-bottom: 68px;
    }
}
@media screen and (max-width: 1095px){
.landingheader {
    width: 100%;
    }
}
html[dir] .landingheader {
    margin: 27px auto 28px;
}
.appicon{
    display: inline-block;
    vertical-align: top;
}
img .webimg{
    height:39;
    width: 39;
    display: block;
    background-color: #00bfa5;
}
.landingheadertitle{
    margin-left: 14px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
}
.landingwindow{
    color: #4a4a4a;
    border-radius: 3px;
    box-shadow: 0 17px 50px 0 rgb(0 0 0 / 19%), 0 12px 15px 0 rgb(0 0 0 / 24%);
    background-color: #fff;
    z-index: 2;
    display: flex;
    flex: none;
    flex-direction: column;
    max-width: 1050px;
    overflow: hidden;  
}
html[dir=ltr] .landingwindow, html[dir=rtl]
 .landingwindow {
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width: 780px){
.landingwindow {
    width: 100%;}
}
.landingmain{
    position: relative;
}
html[dir] .landingmain {
    padding: 64px 60px 110px;
}
@media screen and (max-width: 780px){
    html[dir] .landingmain {
        padding-bottom: 82px;}
    }
@media screen and (max-width: 1095px){
html[dir] .landingmain {
    padding: 58px 52px 110px;
    }
}
.contents
{
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
}
@media (max-width:780px) {
    .contents{
        flex-flow: column wrap;
    }
}
.contpart1{
    flex: none;
    max-width: 556px;
}
@media screen and (max-width: 780px){
.contpart1{
    flex: none;
    order: 1;
    width: 100%;}
}
@media screen and (max-width:1095px) {
    .contpart1{
        max-width: 100%;
    }
}
.landingtitle{
    margin-bottom: 28px;
    font-weight: 300;
    padding-bottom: 25px;
    line-height: normal;
    color: #525252;
    font-size: 27px;
}
ol .uses{
    padding:0 0 0 24px;
    margin: 0;
    list-style-type:decimal;
    font-size: 16px;
}
li{
    font-size: 16px;
    line-height: 25px;
    color: #4a4a4a;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.contpart2{
    margin-right: auto;
    margin-left: 60px;
    display: block;
    order: 3;
    position: relative;
}
.codebox{
    bottom: 0;
    display: flex;
    flex: none;
    font-family: inherit;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 270px;
    overflow: hidden;
}
.contpart2 img{
    width: 100%;
    height: fit-content;
}
a {
    font-size: 14px;
    bottom: 66px;
    left:60px;
    position: absolute;
    order: 2;
    line-height: 1;
    color: #009688;
    text-decoration: none;
}
.keep{
    display: flex;
    padding-right: 12px;
    align-items: center;
    justify-content:flex-end;
    font-size: 14px;
    width:100%;
    right: 60px;
    padding-top: 20px;
    line-height: 1;
    color: #00000073;
}
.keep input
{
    margin-right: 6px;
    vertical-align: middle;
}
.contpart3{
    padding: 72px 60px;
    background-color: #00000006;
    position: relative;
    display: flex;
    bottom: 0;
    justify-content: center;
}
.cont{
    width: 560px;
    height:314px ;
    position: relative;
    flex: none;
    
}
.click{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    right: 0;
    left: 0;
}
.tri{
    background-color: rgba(var(--overlay-rgb),.45);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    overflow: hidden;
    color: var(--inverse);
}
.trija{
    /*display: inline-block;*/
    margin-left: 5px;
    vertical-align: top;
}
img .vid{
    visibility:visible;
    right: 0;
    left: 0;
    background-size: 560px 314px;
    position: absolute;
    top: 0;
    z-index: 10;
}